{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<form method="POST" id="signup_form" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col s12 l4 offset-l4">
      <div class="card">

        <div class="card-action teal lighten-2 white-text">
          <h3>Registration</h3>
        </div>

        <div class="card-content">
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="E-mail address" required id="id_email">
          </div>

          <div class="input-field">
            <i class="material-icons prefix">person</i>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="1" maxlength="150" required
              id="id_username">
          </div>

          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <label for="password">Password</label>
            <input type="password" name="password1" placeholder="Password" required id="id_password1">
          </div>

          <div class="form-field center-align">
            <button class="btn-large waves-effect waves-light teal lighten-2"
              style="width: 70%; font-size: large">Register</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</form>
{% endblock %}
