.heading
{
    font-family: 'Raleway', sans-serif;
}

#indian:hover
{
    background-color: blue;
}

@media screen and (max-width: 400px) {
    #heading {
        font-size: 10px;
    }
    #balance {
        font-size: 10px;
    }
}
