{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %}- SMS 2019</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

		<script type="text/javascript" src="{% static 'js/userDetails.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/conversionRate.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/game.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/useless.js' %}"></script>
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>

</html>
