<html>

  <head>
    <title>
      EFA - SMS19
    </title>
  </head>

  <body>
    <form method="POST" action="{% url 'api_efa' 'AS'%}">
      {% csrf_token %}
      <div class="input-field">
        <label for="stock_name">Stock Name</label>
        <input type="text" id="stock_name" name="stock_name" required />
      </div>
      <div class="input-field">
        <label for="initial_price">Initial Price</label>
        <input type="number" id="initial_price" name="initial_price" required />
      </div>
      <div class="input-field">
        <label for="available_no_units">Available No. Units</label>
        <input type="number" id="available_no_units" name="available_no_units" required />
      </div>
      <div class="input-field">
        <label for="market_type">Market Type</label>
        <select name="market_type" required>
          <option value="BSE">BSE</option>
          <option value="NYM">NYM</option>
          <option value="JPN">JPN</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
    <br>Last Five Stocks Added
    {% for stock in last_five_added_stocks %}
    <br>
    {{stock.id}}.
    {{stock.stock_name}}
    {{stock.initial_price}}
    {{stock.maket_type}}
    {{stock.available_no_units}}
    {{stock.conversion_rate}}
    <a href="{% url 'api_efa' 'DS' stock.id %}">Delete</a>
    {% endfor %}
    <br><br><br><br>
    <form method="POST" action="{% url 'api_efa' 'AN'%}">
      {% csrf_token %}
      <div class="input-field">
        <label for="headline">Headline</label>
        <input type="text" id="headline" name="headline" required />
      </div>
      <div class="input-field">
        <label for="body">News Body</label>
        <input type="text" id="body" name="body" required />
      </div>
      <button type="submit">Submit</button>
    </form>
    <br>Last Five NewsPosts Added
    {% for newspost in last_five_added_newsposts %}
    <br>
    {{newspost.id}}.
    {{newspost.headline}}
    <a href="{% url 'api_efa' 'DN' newspost.id %}">Delete</a>
    {% endfor %}
  </body>

</html>
