* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#balance {
    color: white;
    transform: scale(0.7);
}

#popup {
    width: 70vw;
    background: black;
    color: white;
    position: absolute;
    top: 80vh;
    left: 15vw;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    border-radius: 5px;
    background: purple;
}

.addAnimation {
    animation: comeToPost 2.5s linear;
    animation-fill-mode: forwards;
}

@keyframes comeToPost {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#heading {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vw;
}

#indian:hover {
    background-color: #8e24aa;
}

#international:hover {
    background-color: #8e24aa;
}

#japanese:hover {
    background-color: #8e24aa;
}

.accordion {
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px 20px 0px 0px;
    z-index: 2;
    background-color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.stock_list {
    z-index: 1;
}

.panel {
    position: relative;
    top: -3.1vh;
    height: 0px;
    background: grey;
    border-radius: 0px 0px 10px 10px;
    background: purple;
    transition: all 0.5s ease-in;
}

.buy, .sell {
    margin-bottom: 5px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(2vh);
}

#buyDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

#sellDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

#rightNav {
    width: 10vw;
    height: 100vh;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 100vw;
    animation: openOnClick 0.5s ease-out;
    animation-fill-mode: forwards;
}

.editable {
    width: 100%;
    padding: 5px;
    background: green;
    color: white;
}

.closeBuySellDiv {
    color: white;
    position: relative;
    left: 27vw;
    font-size: 20px;
}

i.icon-blue {
    color: green;
}

.nameOfStock, .material-icons {
    display: inline-block;
}

.upColor {
    color: rgb(0, 180, 0);
}

.downColor {
    color: rgb(180, 0, 0);
}

@keyframes openOnClick {
    0% {
        left: 100vw;
        width: 0;
    }
    100% {
        left: 80vw;
        width: 20vw;
    }
}

.panel {
    transition: all 0.5s ease-out;
}

.active, .accordion:hover {
    background-color: black;
}

.panel {
    padding: 0 18px;
    background-color: white;
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#mySidenav:hover {
    color: #9c27b0;
}

.popup {
    width: 70vw;
    height: 10vh;
    background: #eee;
    position: absolute;
    top: 80vh;
    left: 15vw
}

#transactions {
    position: absolute;
    bottom: 10vh;
}

@media screen and (max-width: 500px) {
    #buyDiv {
        width: 60vw;
    }
    #sellDiv {
        width: 60vw;
    }
    .closeBuySellDiv {
        position: relative;
        left: 50vw;
    }
    #heading {
        font-size: 4vw;
    }
}

@media screen and (max-width: 400px) {
    #buyDiv {
        width: 60vw;
    }
    .closeBuySellDiv {
        position: relative;
        left: 50vw;
    }
    #heading {
        font-size: 4vw;
    }
}
